name: Unit tests

on:
  push:
    paths:
      - '.github/workflows/tests.yaml'
      - 'example/**'
      - 'qpdf.nim'
      - 'qpdf.nimble'
      - 'lowlevel/**'
      - 'tests/**'
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/tests.yaml'
      - 'example/**'
      - 'qpdf.nim'
      - 'qpdf.nimble'
      - 'lowlevel/**'
      - 'tests/**'

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os:
          - 'ubuntu-latest'
          - 'macOS-latest'
        nim-version:
          - '2.0.6'
          - '2.0.16'
          - 'stable'

    name: Test on ${{ matrix.nim-version }} (${{ matrix.os }})
    steps:
      - uses: actions/checkout@v6

      - name: Install qpdf (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install libqpdf-dev

      - name: Install qpdf (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install qpdf

      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@v4
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-v2-${{ hashFiles('*.nimble') }}
          restore-keys: |
            ${{ runner.os }}-nimble-v2-

      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ matrix.nim-version }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.nim-version != 'devel'

      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ matrix.nim-version }}
          use-nightlies: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.nim-version == 'devel'

      - name: Run tests
        run: nimble test -y
